# Question 1 :
Assuming that we have some email addresses in the "username@companyname.com" format, please
write a program to print the company name of a given email address. Both user names and company
names are composed of letters only.

Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in a single line.

Example;
Input:
john@google.com
Output:
google.

In [1]:
email = input()

parts = email.split('@')

subpart = parts[1].split('.')

print(subpart[0])

dhruvraj@numbneuron.com
numbneuron

# Question 2 :
Write a program that accepts a comma-separated sequence of words as input and prints the words in a
comma-separated sequence after sorting them alphabetically.

Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.

Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world

In [4]:
words = input()

x = [i for i in words.split(',')]

x.sort()

z = ','.join(x)

print(z)

without,hello,bag,world
bag,hello,without,world

# Question 3:
Create your own Jupyter Notebook for Sets. Reference link:
https://www.w3schools.com/python/python_sets.asp

**==================================================================================================================**

# Set

***
**A set is a collection which is unordered and unindexed.**
<br>_In Python sets are written with curly brackets._
***

In [5]:
# Example
# Ways to Create a Set:

set1 = {"apple", "banana", "cherry","apple","guava","watermelon",1,2,3,2.2,2,5,6}
print(set1)

# SET CAN CONTAIN MULTIPLE DATA TYPES LIKE int, float, string 
#(not list, tuple, or set etc IT WILL GIVE 'Unhashable type ERROR')

# WE CAN INSERT SAME ELEMENTS MULTIPLE TYPES ,BUT IT WILL GIVE ONLY ONE IN OUPUT

{1, 2, 3, 'guava', 'apple', 2.2, 5, 6, 'watermelon', 'cherry', 'banana'}

***
# The set() Constructor
It is also possible to use the set() constructor to make a set.
***

In [6]:
#Example
#Using the set() constructor to make a set:

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'apple', 'cherry'}

***
# Access Items
We cannot access items in a set by referring to an index or a key.

But we can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

***

In [7]:
# Example
# Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

banana
apple
cherry

In [8]:
# Another Example
#if "banana" is present in the set:

thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

***

# Change Items

**_Once a set is created, you cannot change its items, but you can add new items.***

***


# Add Items
_To add one item to a set use the add() method._

To add more than one item to a set use the update() method.
***

In [9]:
#Example (add())
#Add an item to a set, using the add() method:

thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'banana', 'apple', 'cherry'}

In [10]:
#Example (update())
#Add multiple items to a set, using the update() method:

thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'mango', 'apple', 'grapes', 'orange', 'cherry', 'banana'}

***

# Get the Length of a Set
To determine how many items a set has, use the len() method.
***

In [11]:
#Example
#Get the number of items in a set:

thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

***

# Remove Item
To remove an item in a set, use the remove(), or the discard() method.

***

In [12]:
#Example
#Remove "banana" by using the remove() method:

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

**Note: If the item to remove does not exist, remove() will raise an error.<br>
Note: If the item to remove does not exist, discard() will NOT raise an error.**
***

In [13]:
#Example
#Remove "banana" by using the discard() method:

thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

***
You can also use the **pop()**, method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

The return value of the pop() method is the removed item.

In [14]:

#Example
#Remove the last item by using the pop() method:

thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'apple', 'cherry'}

In [15]:
#Example
#The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [16]:
#Example
#The del keyword will delete the set completely:

thisset = {"apple", "banana", "cherry", 'guava'}

del thisset

print(thisset)

# IT WILL GIVE      ERROR     BEACAUSE IT IS DELETED FIRST BEFORE PRINTING

NameError: name 'thisset' is not defined

***
# Join Two Sets
There are several ways to join two or more sets in Python.

You can use the **union() method** that returns a new set containing all items from both sets, or the **update() method** that inserts all the items from one set into another:

**Note: Both union() and update() will exclude any duplicate items.**

***

In [17]:
#Example
#The union() method returns a new set with all items from both sets:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'a', 'c', 1, 2, 3, 'b'}

In [18]:
#Example
#The update() method inserts the items in set2 into set1:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'a', 'c', 1, 2, 3, 'b'}

***
#  Set Methods

**Python has a set of built-in methods that you can use on sets.**

***


Method	                                          Description
---------------------------------------------------------------------------------------------------------------------
add()	                       Adds an element to the set<br>
clear()	                       Removes all the elements from the set<br>
copy()       	               Returns a copy of the set<br>
difference()	               Returns a set containing the difference between two or more sets<br>
difference_update()	           Removes the items in this set that are also included in another, specified set<br>
discard()	                   Remove the specified item<br>
intersection()	               Returns a set, that is the intersection of two other sets<br>
intersection_update()	       Removes the items in this set that are not present in other, specified set(s)<br>
isdisjoint()	               Returns whether two sets have a intersection or not<br>
issubset()	                   Returns whether another set contains this set or not<br>
issuperset()	               Returns whether this set contains another set or not<br>
pop()	                       Removes an element from the set<br>
remove()	                   Removes the specified element<br>
symmetric_difference()	       Returns a set with the symmetric differences of two sets<br>
symmetric_difference_update()  Inserts the symmetric differences from this set and another<br>
union()	                       Return a set containing the union of sets<br>
update()	                   Update the set with the union of this set and others<br>

**==================================================================================================================**

# Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no
duplicates.

Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number

Example:
Input:
1 2 4 6 3 7 8
Output:
5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [19]:
# AS PER THE QUESTION IT IS ONLY ONE MISSING no. (n-1 total nos)


no = input()

all_nos = no.split(' ')


converted =[int(x) for x in all_nos]                                          
# for x in all_nos:
#     converted.append(int(x))

last = max(converted)
first = min(converted)
                                                            
p =[print(i) for i in range(first,last+1) if i not in converted]

3 4 5 7 8 9 10 11 12 14 15
6
13

# Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order
reserved.

Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155

Explanation:
Third, the seventh and ninth element of the list L has been removed because it was already present.

Input Format:
In one line take the elements of the list L with each element separated by a space.

Output Format:
Print the elements of the modified list in one line with each element separated by a space.

Example:
Input:
12 24 35 24
Output:
12 24 35

In [20]:
multiple = input()

all_nos = multiple.split()

converted =[int(x) for x in all_nos]

final = []
for x in converted:
    if x not in final:
        final.append(x)

p =[print(no, end ='  ') for no in final]

12 24 35 24 88 120 155 88 120 155
12  24  35  88  120  155